// 간격 관련
//
@import '../function.scss';
@import '../setting.scss';

// 외부(마진) 간격(margin)
@for $i from 0 through 40 {
  @if ($i % 2) == 0 {
    .m-#{$i} {margin: $i + px;}
    @for $j from 0 through 40 {
      .m-#{$i}-#{$j} {margin: $i + px $j + px;}
    }
    .m-#{$i}-auto {margin: $i + px auto;}
    .mt-#{$i} {margin-top: $i + px;}
    .mr-#{$i} {margin-right: $i + px;}
    .mb-#{$i} {margin-bottom: $i + px;}
    .ml-#{$i} {margin-left: $i + px;}
  }
}
.m-auto {margin: 0 auto;}

// 내부(패딩) 간격(padding)
@for $i from 0 through 40 {
  @if ($i % 2) == 0 {
    .p-#{$i} {padding: $i + px;}
    @for $j from 0 through 40 {
      .p-#{$i}-#{$j} {padding: $i + px $j + px;}
    }
    .pt-#{$i} {padding-top: $i + px;}
    .pr-#{$i} {padding-right: $i + px;}
    .pb-#{$i} {padding-bottom: $i + px;}
    .pl-#{$i} {padding-left: $i + px;}
  }
}
